global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 3h
  receiver: '{{ alertmanager_slack_name }}'
receivers:
- name: '{{ alertmanager_slack_name }}'
  slack_configs:
  - api_url: '{{ alertmanager_slack_webhook }}'
    channel: '{{ alertmanager_slack_channel }}'
inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'dev', 'instance']
