---
#
# mkdir /etc/prometheus /etc/prometheus/rules /etc/prometheus/alerts
# cp config files
# mkdir /var/run/secrets/kubernetes.io/serviceaccount
# cp certs
# chmod 400
# upload run file.
# chmod 755
# exec file!
#
- name: Install Prometheus
  hosts: prometheus
  remote_user: centos
  become: true
  become_user: root
  become_method: sudo
  vars:
    certificate_path: /var/run/secrets/kubernetes.io/serviceaccount

  tasks:
    - name: Load default vars
      include_vars:
        dir: ./defaults
        extensions:
          - yml
          - yaml
    - name: Create Directories.
      block:
      - name: mkdir {{ prometheus_config_path }}
        file:
          path: "{{ prometheus_config_path }}"
          state: directory
          mode: 0755
      - name: mkdir {{ prometheus_config_path }}/rules
        file:
          path: "{{ prometheus_config_path }}/rules"
          state: directory
          mode: 0755
      - name: mkdir {{ prometheus_config_path }}/alerts
        file:
          path: "{{ prometheus_config_path }}/alerts"
          state: directory
          mode: 0755
      # mkdir /var/run/secrets/kubernetes.io/serviceaccount
      - name: mkdir certs ({{ certificate_path }})
        file:
          path: "{{ certificate_path }}"
          state: directory
          mode: 0755
        register: cert_path_changed
      # endblock
    - name: Upload Certs.
      block:
      # these will need to be pulled from a Vault.
      # Prometheus runs as nsfnobdy, so this is a compromise for file permissions for the certs
      - name: copy ca.pem
        copy:
          src: ../certs/ca.pem
          dest: "{{ certificate_path }}/ca.pem"
          owner: root
          group: nfsnobody
          mode: 0440
        register: cert_ca_changed
      - name: copy ca-key.pem
        copy:
          src: ../certs/ca-key.pem
          dest: "{{ certificate_path }}/ca-key.pem"
          owner: root
          group: nfsnobody
          mode: 0440
        register: cert_ca_key_changed
      - name: copy prometheus.crt
        copy:
          src: ../certs/prometheus.crt
          dest: "{{ certificate_path }}/prometheus.crt"
          owner: root
          group: nfsnobody
          mode: 0440
        register: cert_prometheus_changed
      - name: copy prometheus.key
        copy:
          src: ../certs/prometheus.key
          dest: "{{ certificate_path }}/prometheus.key"
          owner: root
          group: nfsnobody
          mode: 0440
        register: cert_prometheus_key_changed
      - set_fact:
          certs_changed: "{{ cert_ca_changed is changed or cert_ca_key_changed is changed or cert_prometheus_changed is changed or cert_prometheus_key_changed is changed }}"
    - name: Upload Files.
      block:
      # These may be pulled from Git.
      - name: copy prometheus.yml
        template:
          src: ../templates/prometheus/prometheus.j2
          dest: "{{ prometheus_config_path }}/prometheus.yml"
          owner: root
          group: root
          mode: 0644
        register: config_prom_changed
      - name: copy rules.xml
        copy:
          src: "..{{ prometheus_config_path }}/rules/rules.yml"
          dest: "{{ prometheus_config_path }}/rules/rules.yml"
          owner: root
          group: root
          mode: 0644
        register: config_rules_changed
      - name: copy alerts.xml
        copy:
          src: "..{{ prometheus_config_path }}/alerts/alerts.yml"
          dest: "{{ prometheus_config_path }}/alerts/alerts.yml"
          owner: root
          group: root
          mode: 0644
        register: config_alerts_changed
      - name: copy alerting.xml
        template:
          src: "../templates/prometheus/alerting.j2"
          dest: "{{ prometheus_config_path }}/alerts/alerting.yml"
          owner: root
          group: root
          mode: 0644
        register: config_alerting_changed
      - set_fact:
            config_changed: "{{ config_prom_changed is changed or config_rules_changed is changed or config_alerts_changed is changed or config_alerting_changed is changed }}"
    - name: Start Prometheus
      block:
      # create container is there is no container.
      - name: Create Prometheus container
        docker_container:
          name: "{{ prometheus_container_name }}"
          image: "{{ prometheus_docker_image }}:{{ prometheus_docker_tag }}"
          ports:
            - "{{ prometheus_port }}:{{ prometheus_port }}"
          volumes:
            - "{{ prometheus_config_path }}:{{ prometheus_config_path }}:rw"
            - "{{ prometheus_data_path }}:{{ prometheus_data_path }}:rw"
            - "{{ certificate_path }}:{{ certificate_path }}:ro"
          command: [ "--config.file={{ prometheus_config_path }}/prometheus.yml", "--storage.tsdb.path={{ prometheus_data_path }}", "--web.route-prefix=/", "--web.external-url=https://{{ prometheus_fqdn }}" ]
          state: started
        register: started_prom_container
      - set_fact:
          prometheus_started: "{{ started_prom_container is changed }}"
      # - debug: var=started_prom_container
      # - debug: var=prometheus_started
      # HUP Prometheus if CONFGS changed.
      # may have to restart if the certs changed...
      # sudo docker exec -it prometheus kill -HUP 1
      - name: HUP Prometheus
        shell: docker exec {{ prometheus_container_name }} kill -HUP 1
        when: not prometheus_started and (config_changed or certs_changed)
